* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

@media(max-width:959px) {
  .header label {
    display: initial;
  }

  .header input:checked~ul {
    display: initial;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #e7f5fe;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    display: none;
    text-align: center;
    padding: 10px;
  }

  .navbar li {
    width: 100%;
  }

  .journal {
    text-align: center;
  }
}

@media(min-width:960px) {
  .journal p {
    font-size: 1.6rem;
  }
}

@media(max-width:768px) {
  .journal h1 {
    font-size: 4rem;
  }
}

@media(max-width:576px) {
  .journal h1 {
    font-size: 3rem;
  }
}