.bg_color{
    
}

.linha{
    display: flex;
    flex-flow: row wrap;
    background-color: #e7f5fe;
    padding: 0;
    margin: 0;
}

.coluna_50{
    width: 50%;
}

.coluna_50 img{
    width: 100%;
    height: 100%;
    padding: 0;
}

.journal_app{
    align-items: center;
    justify-content: center;
}