.bg_color{
    background-color: #e7f5fe;
}

/*First Container*/
.image{
    transform: translateX(-30%);
    max-width: none;
}

.journal{
    max-width: 550px;
    margin: 0 auto;
}

.journal h1{
    color: #03395d;
    letter-spacing: 5px;
}

.journal p{
    color: #03395d;
}

.btn_component{
    gap: 20px;
}

/*Media - first container*/
@media(min-width: 960px){
    .journal p{
        font-size: 1.6em;
    }
}

@media(max-width: 959px){
    .journal{
        text-align: center;
    }
}

@media(max-width: 768px){
    .journal h1{
        font-size: 4rem;
    }
}

@media(max-width: 576px){
    .journal h1{
        font-size: 3rem;
    }
}
/*End of First Container*/


/*Second Container*/
.aligned{
    color: #03395d;
    width: 30%;
    margin: 15em auto;
}

.aligned h2{
    font-size: 2.4em;
}

.aligned p{
    margin-top: 1em;
}