/*.container_1{
    position: relative;
}*/

.line{
    display: flex;
    background-color: #e7f5fe;
}

.column_50{
    width: 50%;
}

.column_50 img{
    width: auto;
    height: auto;
    position:relative;
    left: 0px;
    transform: translateX(-30%)
}

.journal{
    position: absolute;
    top: 30%;
    left: 55%;
    margin: -25px 0 0 -25px;
    max-width: 520px;
}

.journal h1{
    font-weight: bold;
    color: #03395d;
    letter-spacing: 5px;
    font-size: 5em;
}

.journal p{
    color: #03395d;
    font-size: 1.6em;
}

.btn_component{
    display: flex;
    gap: 20px;
}

.how_works{
    text-align: center;
    color: #03395d;
    width: 30%;
    margin: 15em auto;
}

.how_works h2{
    font-size: 2.4em;
}

.how_works p{
    margin-top: 1em;
    font-size: 1.5em;
}