.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
    background-color: #e7f5fe;
    color: #03395d;
}

.navbar span{
    font-size: 5em;
    font-weight: bold;
}

.link_items{
    display: flex;
    list-style: none;
}

.link_items li{
    margin-right: 1.3em;
}

.link_items a{
    color: #03395d;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    padding: 5px;
    transition: .4s;
    border-bottom: 2px solid transparent;
}

.link_items a:hover{
    border-color: #03395d;
}